.body {
    background-color: lightgray;
    height: 91.5vh;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    align-items:start;
    justify-content: center;
    display: flex;
}

#header {
    background-color: black;
    color: #f99e1c;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

td {
    text-align: center;
}